### Option: ModuleTimeout
#       Specifies how long we wait for module process with Deltacloud.
#
# Mandatory: no
# Range: 1-600
# Default:
# ModuleTimeout=300

### Option: ModuleCloudCacheSize
#       Size of module cache, in bytes.
#       Shared memory size for storing instances and metrics data.
#
# Mandatory: no
# Range: 128K-2G
# Default:
# ModuleCloudCacheSize=4M

### Option: ZabbixFile
#       Name of Zabbix(Server or Agent) conf file.
#       If we use Zabbix Server simple check, set zabbix_server.conf path.
#       If we use Zabbix Agent check, set zabbix_agentd.conf path.
#
# Mandatory: no
# Default:
# ZabbixFile="/etc/zabbix/zabbix_server.conf"
